
.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

@media (max-width: 768px ) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:1px;
    padding: 1px;
    background-color: #BCBCBC;

    /* border radius */
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .cell {
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    background-color: #fff;
  }

  .container .cell:first-child{
    border-top-left-radius: 2px;
    background-color: #BCBCBC;
  }
  .container .cell:last-child{
    border-bottom-right-radius: 2px;
  }
  .container .cell:nth-child(8){
    border-top-right-radius: 2px;
  }
  .container .cell:nth-child(49){
    border-bottom-left-radius: 2px;
  }

  .container .cell:nth-child(-n+8){
    font-weight: 500;
  }

  .container .cell:nth-child(8n+1){
    font-weight: 500;
  }