
.page-content{
  margin-left: 25px;
  margin-right: 20px;
  /* margin-top: 20px; */
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding-bottom: 25px;
}

.text{
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

@media (max-width: 768px ) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* overflow: scroll; */
        overflow-x: auto;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: contain;
        overflow-y: auto;
        width: auto;
        ;
        grid-gap: 5px;
        }

        
  .text{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}

@media (max-width: 600px ) {
  .wrapper{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* overflow: scroll; */
      overflow-x: auto;
      overscroll-behavior-x: contain;
      overscroll-behavior-y: contain;
      overflow-y: auto;
      width: auto;
      grid-gap: 5px;
  }

  .text{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:1px;
    padding: 1px;
    background-color: #BCBCBC;

    /* border radius */
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .cell {
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    background-color: #fff;
  
  }

  @media (max-width: 600px ) {
    .cell{
      width: 150px;
    }
  }

  .container .cell:first-child{
    border-top-left-radius: 2px;
    background-color: #BCBCBC;
  }
  .container .cell:last-child{
    border-bottom-right-radius: 2px;
  }
  .container .cell:nth-child(8){
    border-top-right-radius: 2px;
  }
  .container .cell:nth-child(49){
    border-bottom-left-radius: 2px;
  }

  .container .cell:nth-child(-n+8){
    font-weight: 500;
  }

  .container .cell:nth-child(8n+1){
    font-weight: 500;
  }

  